FEC_API_KEY="your_fec_key_here"
CONGRESS_API_KEY="your_congress_key_here"
SENATE_LDA_API_KEY="your_lda_key_here"
NYT_API_KEY="your_nyt_api_key_here"
NYT_API_SECRET="your_nyt_api_secret_here"
OPENROUTER_API_KEY="your_openrouter_key_here"
SUPABASE_URL="http://localhost:54321"
SUPABASE_ANON_KEY="your_anon_key_here"
